:root {
  --main-header-height: 32px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 4px;
}

.main-header {
  height: var(--main-header-height);
  padding-inline: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.chart-container {
  height: calc(100% - var(--main-header-height));
}
